.DS_Store
*.log 
*.dvi 
*.aux 
*.toc 
*.lof 
*.lot 
*.out 
*.bbl 
*.blg 
*.xmpi
*.synctex.gz
*.fls
*.fdb_latexmk
**/cuni/sections
**/cuni/bibliography.bib
**/cuni/img
**/malta/sections
**/malta/bibliography.bib
**/malta/img
**/malta/bibliography.bibdataset/mono
**/dataset/moses
**/dataset/mono
**/dataset/tmp
**/dataset/iwslt14
**/dataset/sample
**/wandb
**/outputs/*
**/pdf/*.pdf
